body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  position: fixed;
  right: 10px
}


.nav span {
  border: 1px solid gray;
  padding: 9px 20px 9px 20px;
  text-decoration: none;
  background-color: lightgray;
}

.nav span Link {
  text-decoration: none;
}

/*.nav {
  float: right;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
} */

.nav span {
  margin-right: 50px;
}
